.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f3f3f3;
  color: #b6b6b6;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 36px;
  height: auto;
}

.sidebar .logo-name {
  font-size: 18px;   /* Adjust the font size as needed */
  font-weight: bold; /* Make the name bold */
  color: #070707;       /* Adjust the text color */
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}

.sidebar nav ul li:hover {
  background-color: #1b2b3c;
  padding-left: 10px;
}

.sidebar nav ul li img {
  margin-right: 10px;
  width: 20px;
  height: 20px; 
}

/* Content Area */
.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
}



/* Crypto Overview Section */
.crypto-overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}